{% extends 'base.html' %}

{% block title %}Set Password{% endblock %}

{% block content %}
<div class="container mt-4">
  <h2>Set Password</h2>
  <p>If you signed up but didn't set a password, you can set one here. Enter the email you used to sign up.</p>
  <form method="post">
    <div class="mb-3">
      <label class="form-label">Email</label>
      <input class="form-control" name="email" type="email" required>
    </div>
    <div class="mb-3">
      <label class="form-label">New Password</label>
      <input class="form-control" name="password" type="password" required>
    </div>
    <button class="btn btn-primary" type="submit">Set Password</button>
  </form>
</div>
{% endblock %}
