{% extends 'base.html' %}
{% block content %}
  <h1>Customer Login</h1>
  <form method="post" action="/customer/login">
    <div class="mb-3">
      <label class="form-label">Email</label>
      <input class="form-control" name="email" type="email" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input class="form-control" name="password" type="password" required>
    </div>
    <button class="btn btn-primary">Login</button>
  </form>
  <p class="mt-3">Didn't set a password? <a href="{{ url_for('customer_set_password') }}">Set password</a></p>
{% endblock %}